/* MASTER GRID FOR BODY */
.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr); 
  grid-template-rows: repeat(24, 1fr);
  padding: 44px 90px 44px 90px;
}
/* MAIN CONTENT CONTAINERS */
.mainGrid{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 25;
  grid-row-start: 1;
  grid-row-end: 10;
}
.mainFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* HERO SECTION */
.heroText{
  display:flex;
  flex-direction: column;
  width: 25%;
}
.heroHeading {
  font-size: 15px;
}
.heroBody {
  font-size: 23px;
}
.heroImage {
  margin-left: 2%;
}
/* RIGHT SIDE CARD DECK */
.cardDeck {
  display:grid;
  grid-column-start: 19;
  grid-column-end:25;
  margin-left:2%;
}
.card {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 16px;
  padding: 8px 15px 8px 20px;
  background-color: #e4edf8;
  width: 100%;
}
/* TOP CARD TEXT */
.textContainer {
  width: 66%;
  margin-left: 5%;
  margin-right: 15%;
}
.h1 {
  font-size: 15px;
}
.textContainer .p {
  font-size: 14px;
}
.textContainer .button {
  background-color: #2c2724;
  color: rgb(233, 233, 233);
  min-width: 133px;
  min-height: 29px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.textContainer .button:hover {
  font-size: 13px;
}
.eventP {
  color: red;
}
.lowerGrid {
  display: grid;
  grid-column-start:1;
  grid-column-end:25;
  grid-row-start:11;
  grid-row-end:15;
  margin-top: 5%;
  background-color: #e4edf8;
  border-top: 4px solid #b9d7ff;
}
.lowerFlex {
  display: flex;
  flex-direction: row;
}
.lowerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 33.3333%;
  border-right: 2px solid #b9d7ff;
}
.lowerCard .h1 {
  font-size: 22px;
}
.bTextContainer {
  width: 50%;
  margin-top: 5%;
}
.lowerCard .button {
  background-color: #2c2724;
  color: rgb(233, 233, 233);
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 125px;
  height: 30px;
}



/* MEDIA QUERIES */
@media (max-width: 1665px) {
  .textContainer .p {
    font-size: 11px;
  }
}
@media (max-width: 1315px) {
  .textContainer .h1 {
    font-size: 12px;
  }
}
@media (max-width: 1500px) {
  .heroBody {
    font-size: 18px;
  }
  .heroHeading {
    font-size: 12px;
  }
}
@media (max-width: 1300px) {
  .heroBody {
    font-size: 13px;
  }
  .heroHeading {
    font-size: 11px;
  }
}
@media (max-width: 1080px;) {
  .heroBody {
    font-size: 15px;
  }
  .heroHeading {
    font-size: 12px;
  }
}



