/* MASTER GRID FOR BODY */
.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr); 
  grid-template-rows: repeat(24, 1fr);
  padding: 44px 90px 44px 90px;
}
/* MAIN CONTENT CONTAINERS */
.mainGrid{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 25;
  grid-row-start: 1;
  grid-row-end: 10;
}
.mainFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* HERO SECTION */
.heroText{
  display:flex;
  flex-direction: column;
  width: 25%;
}
.heroHeading {
  font-size: 15px;
}
.heroBody {
  font-size: 23px;
}
@media (max-width: 1500px) {
  .heroBody {
    font-size: 18px;
  }
  .heroHeading {
    font-size: 12px;
  }
}
@media (max-width: 1300px) {
  .heroBody {
    font-size: 13px;
  }
  .heroHeading {
    font-size: 11px;
  }
}
@media (max-width: 1080px;) {
  .heroBody {
    font-size: 15px;
  }
  .heroHeading {
    font-size: 12px;
  }
}
.heroImage {
  margin-left: 2%;
}
/* RIGHT SIDE CARD DECK */
.cardDeck {
  display:grid;
  grid-column-start: 19;
  grid-column-end:25;
  margin-left:2%;
}
.card {
  display: flex;
  flex-direction: row;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 16px;
  padding: 8px 15px 8px 20px;
  background-color: #e4edf8;
  width: 400px;
}
/* TOP CARD TEXT */
.textContainer {
  width: 66%;
  margin-left: 5%;
  margin-right: 15%;
}
.h1 {
  font-size: 15px;
}
@media (max-width: 1315px) {
  .textContainer .h1 {
    font-size: 12px;
  }
  .bTextContainer .h1 {
    font-size: 12px;
  }
}
.textContainer .p {
  font-size: 14px;
}
@media (max-width: 1665px) {
  .textContainer .p {
    font-size: 11px;
  }
  .bTextContainer .p {
    font: 11px;
  }
}
.textContainer .button {
  background-color: #2c2724;
  color: rgb(233, 233, 233);
  min-width: 133px;
  min-height: 29px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.textContainer .button:hover {
  font-size: 13px;
}
.eventP {
  color: red;
}

/* BOTTOM CONTENT AREA */
/* .footer {
  grid-column-start:1;
  grid-column-end: end; 
  grid-row-start: 10;
  grid-row-end: 14 ;  
} */
/* BOTTOM CARD DECK */
.bottomDeck {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e4edf8 ;
  margin-top: 3%;
  border-top: 5px solid #b9d7ff;
  height: 60%;
}
.bottomCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 16px;
  padding: 8px 15px 8px 20px;
  background-color: #e4edf8;
  border-right:3px solid #b9d7ff;
  width: 33%;
}
/* BOTTOM CARD PICTURES */
.bPicContainer {}
/* BOTTOM CARD TEXT  */
.bTextContainer {
  width: 50%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
}
.bTextContainer .p {
  font-size: 14px;
}
.bTextContainer .h1 {
  font-size: 15px;
}
@media (max-width: 1655px) {
  .bTextContainer .h1 {
    font-size: 15px;
  }
}
.bTextContainer .button {
  background-color: #2c2724;
  color: rgb(233, 233, 233);
  max-width: 130px;
  min-height: 29px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.bTextContainer .button:hover {
  font-size: 13px;
}

